.App {
  text-align: center;
  background-color: #191919;
}

@font-face{
  font-family: 'Argon';
  src: url('./visual-components/font/Argon/Argon.otf')
}
@font-face{
  font-family: 'Montserrat-Bold';
  src: url('./visual-components/font/Montserrat/Montserrat-Bold.ttf')
}
@font-face{
  font-family: 'Montserrat-SemiBold';
  src: url('./visual-components/font/Montserrat/Montserrat-SemiBold.ttf')
}
@font-face{
  font-family: 'Montserrat-Medium';
  src: url('./visual-components/font/Montserrat/Montserrat-Medium.ttf')
}
@font-face{
  font-family: 'Montserrat-Regular';
  src: url('./visual-components/font/Montserrat/Montserrat-Regular.ttf')
}

.WH{
  color: white;
}
.BR{
  color: #CFCBAF;
}


button{
  border: none;
  outline: none;
  background: none;
}